* { /* * is pointing to everything */
    box-sizing: border-box;
    /* transition: all 1.0s; blocks will appear slowly in 1,0 sec if it needed */
  }

h1 {
  text-align: center;
}

h2 {
    justify-content: left;
    font-size: 32px;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

p {
    margin: 10px;
  }

.block {
    border: 1px solid lightgray;
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 10px;
  }
 
div.block h1.title {
  justify-content: left;
  text-align: left;
}

input {
  display: block;
  width: 98%;
}

input::placeholder {
    color: blue;
}


/* media settings */

@media (min-width: 320px) {
    .block {
      width: calc(100% - 20px);
    }
  }

@media (min-width: 768px) {
    .block {
      width: calc(50% - 20px);
    }
  }

@media (min-width: 1024px) {
    .block {
      width: calc(25% - 20px);
    }
  }