h2 {
    /* width: 290px; */
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    margin: 15px 15px;

}

div {
    width: 270px;
    border: 1px grey solid;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    justify-content: space-between;
    margin: 15px 15px;
}

input::placeholder {
    color: blue;
}