div {
    display: flex;
    width: 100%;
}

input {
    border: 1px solid #F1F2F1;
    border-radius: 4px;
    color: green;
    line-height: 2em;
    width: 96%;
}

button {
    color: grey;
    line-height: 1.5em;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
}

button:hover, .search:hover, input:hover {
    color: red;
}

.search:active {
    color: green;
    border: 1px solid #F1F2F1;
    border-radius: 4px;
}
