body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    /* background-color: black; */
    caret-color: transparent;
  }

                                                                  /* start of header */
.header {
    border: 1px solid black;
    width: 100%;
    display: block;
    background-color: brown;
    color: white;
}

.logo, .h-menu, .h-search, .h-phone {
    display: inline-block;
    border: 0px solid grey;
}

.logo p:hover, .h-menu a:hover, .h-phone p:hover {
    color: gold;
}

.logo {
    width: 20%;
    text-transform: uppercase;
    font-weight: bold;
}

.logo p {
    padding-left: 20px;
}

.h-menu {
    border: 0px solid black;
    width: 30%;
    justify-items:flex-end;
    text-align: justify;
}

.h-menu a {
    padding-right: 50px;
    text-decoration: none;
    color: white;
}

.h-search {
    width: 25%;
}

.h-search input {
    display: block;
    width: 25%;
    min-width: 100px;
    padding-left: 60px;
    border: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    background-color: brown;
    color: white;
}

.h-search label {
    display: block;
    width: 25%;
    min-width: 200px;
    border: 0px solid transparent;
    border-bottom: 0px solid lightgray;
    color: white;
}

.h-search input::placeholder {
    color: white;
}

.h-search :focus::-webkit-input-placeholder {
    color: transparent; 
  }

.h-phone {
    width: 23%;
}

.h-phone p {
    padding-right: 20px;
}

div .nav a {
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

div nav span a {
    color: brown;
    font-weight: bold;
    padding-left: 20px;
}

                                                                  /* directory and checkbox */
.nav {
    padding-top: 10px;
}

.nav-chbx {
    display: inline-block;
    width: 100%;
    border: 0px solid blue;
    color: black;
}

.nav-name, .chbx-name {
    display: block;
    border: 0px solid black;
    padding-left: 20px;
}

.chbx label {
    color: black;
}

.chbx-name label {
    display: flex;
    border-radius: 40px;
    width: 120px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.chbx-name input {
    display: flex;
    border-radius: 40px;
    width: 120px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.chbx-name input[type="checkbox"] {
    opacity: 0;
    height: 0;
    width: 0;
}

.chbx-name {
    display: flex;
    justify-content: flex-start;
  }

  
/* 
input:checked ~ label {
    background-color: #19254e;
    color: white;
}

input:checked ~ label::after {
    content: "   \2713";
    white-space: pre;
} */



                                                                  /* grid container */
.grid-container {
    width: 96%;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    background-color: white;
    padding: 10px;
  }

.grid-container {
    grid-row-gap: 10px;
}

  .grid-item {
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }

.grid-item-chbx {
    padding-left: 20px;
}

.grid-item-center {
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid-item-range {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid-item-img1 {
    display: block;
    background-image: url(assets/images/car-1.jpg);
    width: 280px;
    height: 175px;
    border-radius: 20px;
    margin-left: 70px;
}

.grid-item-img2 {
    display: block;
    background-image: url(assets/images/car-2.jpg);
    width: 280px;
    height: 175px;
    border-radius: 20px;
    margin-left: 70px;
}

.grid-item-img3 {
    display: block;
    background-image: url(assets/images/car-3.jpg);
    width: 280px;
    height: 175px;
    border-radius: 20px;
    margin-left: 70px;
}

.grid-item-img4 {
    display: block;
    background-image: url(assets/images/car-4.jpg);
    width: 280px;
    height: 175px;
    border-radius: 20px;
    margin-left: 70px;
}

.grid-item {
    display: block;
    padding-top: 0px;
    padding-bottom: opx;
}

.grid-item p {
    padding-top: 0px;
    padding-bottom: opx;
    text-align: left;
    padding: 0px;
    font-size: 14px;
}

.p1 {
    text-transform: uppercase;
}

.p2 {
    text-transform: uppercase;
    font-weight: bold;
}

.p3 {
    color: red;   
}

.grid-item button {
    width:  100%;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    height: 36px;
}

.grid-item-chbx, .grid-item-img1, .grid-item, .grid-item-img2 {
    border: 0px solid grey;
}

button:hover {
    background-color: green;
    transition: ease 1.5s;
}

h2 a {
    text-align: left;
    text-transform: none;
    padding-left: 0px;
    
}